.contact_container {
  width: 60%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact-card {
  background-color: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid transparent;
  text-align: center;
  transition: var(--transition);
}

.contact-card:hover {
  border-color: var(--color-primary);
  background-color: transparent;
}

.contact-card svg {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}
.contact-card a {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

.contact_container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact_container form input,
.contact_container form textarea {
  width: 100%;
  background: transparent;
  padding: 1.2rem;
  border: 2px solid var(--color-primary-variant);
  border-radius: 0.5rem;
  resize: none;
  color: var(--color-white);
}
.contact_container form button {
  font-size: 18px;
  padding: 14px 30px;
}
/* loading button  */
.loader {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

/* media queries */

@media (max-width: 1024px) {
  .contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .contact_container {
    width: 90%;
  }
}
